* {
  box-sizing: border-box;
}


body {
  /* background-color: #16161d; */
  font: normal 17px/calc(20 / 17) ocr-b-std, monospace;
  font-style: normal;
  background-color:rgb(217, 217, 217)

}

article {
display: grid;
justify-content: center;
}


.container {
  position: relative;
  text-align: center;
  /* padding: 1rem; */
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  width: 50rem;
  height: 40rem;
  object-fit: cover;
  /* filter: grayscale(80%); */
  
}


#words {
  font-family: 'Questrial', sans-serif;
  letter-spacing: 0.1em;
  font-size: 7rem;
  font-weight: 900;
  color:  rgb(217, 217, 217);
  /* text-shadow: 2px 2px 5px #000000;  */
  text-shadow: -1px -1px 5px #2c2c2c;

}


#textInputArea {
  letter-spacing: 0.1em;
  font-size: 1.5rem;
  font-weight: 900;
  resize: none;
  width:30rem;
  height:2.5rem;
  color:  rgb(217, 217, 217);
  border: none;
  border-bottom: 2px solid rgb(217, 217, 217);
  text-align: left;
  background-color: black;
  opacity: 70%;
  transform: translate(0%, -300%)
}
#textInputArea:focus{
  border: 3px solid #555;
}
#letters {
  letter-spacing: 0.1em;
  font-size: 1rem;
  font-weight: 900;
  background-color: #2c2c2c;
  text-align: left;
  color: rgb(217, 217, 217);
  height: 1.2rem;
  content: right;
}


.info {
  padding-top: 1rem;
  color: #2c2c2c;
  /* margin: 4rem; */
  text-align: left;
  width: 30rem;
  object-fit: cover;
}








@media (max-width: 1000px) {

    body {
          background: rgb(217, 217, 217);
      }

     img {
       height: 30rem;
       width: 30rem;
      }
      #words {
        font-size: 4rem;
      }
      #textInputArea {
        width:20rem;
      }
      .info {
        width: 20rem;
        margin-left: 4rem;
  
      }


}